extends layouts/default
block content

  .masthead
    .container
      .row
        .col-xs-12.text-center
          h1 Standard Static Website Template
          p.lead Use this document as a way to quickly start any new project.<br>All you get is this text and a mostly barebones HTML document.

    